<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/indexStyle.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Zombase</title>
</head>

<body class="bg-purple-100">
    <!-- Navbar completa -->
    <nav class="bg-purple-400">
        <div class="max-w-7xl mx-auto px-5">
            <div class="flex justify-between">
                <div class="flex space-x-10">
                    <!-- logo -->
                    <div>
                        <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <img src="/img/logo.png" width="200" alt="">
                        </a>
                    </div>

                    <!-- menu principal -->
                    <div class="hidden md:flex items-center space-x-5">
                        <a href="/" class="hover:bg-purple-500 px-2 py-1 rounded-md block text-white font-semibold">Inicio</a>
                        <a href="/about-us" class="link-nav">Sobre nosotros</a>
                        <a href="/partida/top" class="link-nav">Top Jugadores</a>
                    </div>
                </div>

                <!-- menu login -->
                <div class="hidden md:flex flex-row items-center space-x-5">
                    {{#if jwt}}
                    <a href="/perfil/ver" class="link-nav">Perfil</a>
                    <form action="/auth/logout" method="POST" class="h-full align-middle pt-8">
                        <button href="/login" class="font-semibold px-2 py-1 rounded-md bg-red-900 box-border text-white hover:bg-red-700 transition duration-500 shadow">Desconectar</a>
                    </form>

                    {{else}}
                    <a href="/login" class="link-nav">Iniciar Sesi贸n</a>
                    <a href="/login"
                        class="font-semibold px-2 py-1 rounded-md bg-blue-900 box-border text-white hover:bg-purple-900 transition duration-500 shadow">Registrar</a>
                    {{/if}}


                </div>
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>

            </div>
        </div>
        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden">
            {{#if jwt}}
                <a href="/perfil/ver" class="link">Perfil</a>
                <form action="/auth/logout" method="POST">
                    <button type="submit" class="link-mobile-logout w-full">Desconectar</a>
                </form>
            {{else}}
                <a href="/login" class="link">Iniciar Sesi贸n</a>
                <a href="/login" class="w-full link">Registrar</a>
            {{/if}}
        </div>
    </nav>
    <div class="max-w-7xl mx-auto mt-10 p-10 bg-white">
        <div id="fotoperfil" class="flex flex-row gap-5">
                <form action="/perfil/guardar" method="POST" class="flex flex-col w-3/12 gap-3">
                {{#each player}}
                    <img src="{{this.pp}}" id="pp" name="pp" class="w-full h-auto rounded-full" alt="">
                    <p class="text-2xl font-bold" id="nombre">{{this.name}} {{this.surname}}</p>
                    <textarea class="bg-gray-50 rounded-md p-2 resize-none" id="description" name="description">{{this.descripcion}}</textarea>
                    <label for="image_uploads" class="bg-yellow-400 p-2 rounded-md text-center text-white font-bold">Subir Foto</label>
                    <input type="file"  id="image_uploads" name="image_uploads" class="hidden"accept=".jpg, .jpeg, .png" multiple="">
                    <div class="preview">
                        <p>No files currently selected for upload</p>
                    </div>
                    <button type="submit" class="bg-green-400 p-2 rounded-md text-center text-white font-bold">Guardar Perfil</button>
                    
                {{/each}}
                </form>
            <div class="flex flex-col flex-grow gap-5">
                <p class="text-2xl font-bold ">Tus partidas</p>
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Id
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Ultima Ronda
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Puntuaci贸n
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Fecha
                            </th>
                            <th scope="col" class="relative px-6 py-3">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {{#each partidas}}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">

                                    <div class="ml-4">
                                        <div class="text-sm font-medium text-gray-900">
                                            {{this.id}}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-600">
                                    Ronda: {{this.ronda}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                    {{this.puntuacion}} Puntos
                          </span>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                {{this.fechabien}}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                <form action="/partida/borrar/{{id}}" method="POST">
                                    <button type="submit" class="text-red-600 hover:text-red-900">Borrar</button>
                                </form>

                            </td>
                        </tr>
                        {{/each}}



                        <!-- More people... -->
                    </tbody>
                </table>
            </div>

        </div>



    </div>




    <footer class="bg-gray-900 flex justify-center ">
        <div class="container mx-auto px-6 ">
            <div class="flex flex-col items-center ">
                <div class="sm:w-2/3 pt-5 ">
                    <img src="/img/vigade.png " class="w-10 mx-auto " alt=" ">
                </div>
                <div class="sm:w-2/3 pt-5 ">
                    <p class="text-sm text-gray-400 mb-2 text-center ">
                        Este juego fue desarrollado con amor por el equipo de Vigade Studios
                    </p>
                </div>
                <div class="sm:w-2/3 pt-5 ">
                    <div class="flex flex-row gap-5 justify-center ">
                        <a href="# "><i class="fa fa-facebook link-footer "></i> </a>
                        <a href="# "><i class="fa fa-twitter link-footer "></i> </a>
                        <a href="# "><i class="fa fa-github link-footer "></i> </a>
                        <a href="# "><i class="fa fa-instagram link-footer "></i> </a>
                        <a href="# "><i class="fa fa-linkedin link-footer "></i> </a>
                    </div>
                </div>
                <div class="sm:w-2/3 pt-5 pb-3 ">
                    <div class="flex flex-row gap-5 justify-center ">
                        <a href="# " class="link-footer ">Politica de privacidad</a>
                        <a href="# " class="link-footer ">Terminos y condiciones</a>
                        <a href="# " class="link-footer ">Soporte</a>
                        <a href="# " class="link-footer ">Contacto</a>
                        <a href="# " class="link-footer ">Declaraci贸n sobre las cookies</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>