<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Zombase</title>
</head>

<body class="bg-purple-100">
    <!-- Navbar completa -->
    <nav class="bg-purple-400">
        <div class="max-w-7xl mx-auto px-5">
            <div class="flex justify-between">
                <div class="flex space-x-10">
                    <!-- logo -->
                    <div>
                        <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <img src="/img/logo.png" width="200" alt="">
                        </a>
                    </div>

                    <!-- menu principal -->
                    <div class="hidden md:flex items-center space-x-5">
                        <a href="/" class="link-nav">Inicio</a>
                        <a href="/about-us" class="link-nav">Sobre nosotros</a>
                        <a href="/partida/top" class="hover:bg-purple-500 px-2 py-1 rounded-md block text-white font-semibold">Top Jugadores</a>
                    </div>
                </div>

                <!-- menu login -->
                <div class="hidden md:flex flex-row items-center space-x-5">
                    {{#if jwt}}
                    <a href="/perfil/ver" class="link-nav">Perfil</a>
                    <form action="/auth/logout" method="POST" class="h-full align-middle pt-8">
                        <button href="/login" class="font-semibold px-2 py-1 rounded-md bg-red-900 box-border text-white hover:bg-red-700 transition duration-500 shadow">Desconectar</a>
                    </form>

                    {{else}}
                    <a href="/login" class="link-nav">Iniciar Sesión</a>
                    <a href="/login"
                        class="font-semibold px-2 py-1 rounded-md bg-blue-900 box-border text-white hover:bg-purple-900 transition duration-500 shadow">Registrar</a>
                    {{/if}}
                </div>

                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                    </button>
                </div>

            </div>
        </div>


        <!-- menú para móviles -->
        <div class="mobile-menu hidden md:hidden">
            {{#if jwt}}
                <a href="/perfil/ver" class="link">Perfil</a>
                <form action="/auth/logout" method="POST">
                    <button type="submit" class="link-mobile-logout w-full">Desconectar</a>
                </form>
            {{else}}
                <a href="/login" class="link">Iniciar Sesión</a>
                <a href="/login" class="w-full link">Registrar</a>
            {{/if}}
        </div>
    </nav>

    <div class="flex justify-center">
        <div class="flex flex-row items-center justify-between bg-white w-8/12 mt-10 rounded-2xl">
            <i class="fa fa-trophy fa-2x p-10 text-yellow-400"></i>
            <h1 class="font-semibold text-[5vw] text-center py-10">TOP JUGADORES</h1>
            <i class="fa fa-trophy fa-2x p-10 text-yellow-400"></i>
        </div>
    </div>
    <div class="flex justify-center">
        {{#if primero}}
        <div class="flex flex-col bg-gray-100 w-8/12 mt-10 mb-10">
        
            <div class="flex text-2xl sm:text-3xl rounded-2xl shadow-md bg-white -mx-3 mb-6 h-24 ">
                <div class="w-1/4 my-auto font-bold text-yellow-400">
                    <i class="ml-5 fa fa-trophy"></i>
                    <div class="ml-5">1st</div>
                </div>
                {{! Muestro el primer jugador separado para mostrarlo en otro tamaño y con otro color}}
                
                {{#each primero}} 
                <div class="w-1/2 my-auto">{{this.name}} {{this.surname}}</div>
                <div class="w-1/4 my-auto font-bold">{{this.puntuacion}} pts</div>
                {{/each}}
            {{else}}
            <div class="bg-red-300 border rounded-md w-8/12 mt-10 mb-96 p-2 text-center" role="alert">
                                <strong class="font-bold">Vaya!</strong>
                                <span class="block sm:inline">Parece que nadie ha guardado ninguna partida todavía!</span>
                            </div>
            {{/if}}
            </div>
            {{! Muestro los 9 jugadores restantes}}
            {{#each items}}
            <div class="flex h-16">
                <div class="w-1/4 my-auto font-bold text-sm text-gray-600">
                    <i class="ml-5 fa fa-trophy"></i>
                    <div class="ml-5">{{position @index}}º</div>
                </div>
                <div class="w-1/2 my-auto">{{this.name}} {{this.surname}}</div>
                <div class="w-1/4 my-auto font-bold">{{this.puntuacion}} pts</div>
            </div>
            {{/each}}
        </div>
    </div>
    <footer class="bg-gray-900 flex justify-center ">
        <div class="container mx-auto px-6 ">
            <div class="flex flex-col items-center ">
                <div class="sm:w-2/3 pt-5 ">
                    <img src="/img/vigade.png " class="w-10 mx-auto " alt=" ">
                </div>
                <div class="sm:w-2/3 pt-5 ">
                    <p class="text-sm text-gray-400 mb-2 text-center ">
                        Este juego fue desarrollado con amor por el equipo de Vigade Studios
                    </p>
                </div>
                <div class="sm:w-2/3 pt-5 ">
                    <div class="flex flex-row gap-5 justify-center ">
                        <a href="# "><i class="fa fa-facebook link-footer "></i> </a>
                        <a href="# "><i class="fa fa-twitter link-footer "></i> </a>
                        <a href="# "><i class="fa fa-github link-footer "></i> </a>
                        <a href="# "><i class="fa fa-instagram link-footer "></i> </a>
                        <a href="# "><i class="fa fa-linkedin link-footer "></i> </a>
                    </div>
                </div>
                <div class="sm:w-2/3 pt-5 pb-3 ">
                    <div class="flex flex-row gap-5 justify-center ">
                        <a href="# " class="link-footer ">Politica de privacidad</a>
                        <a href="# " class="link-footer ">Terminos y condiciones</a>
                        <a href="# " class="link-footer ">Soporte</a>
                        <a href="# " class="link-footer ">Contacto</a>
                        <a href="# " class="link-footer ">Declaración sobre las cookies</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>







    <script>
            // creo variables para coger todos los menus
            const btn = document.querySelector("button.mobile-menu-button ");
            const menu = document.querySelector(".mobile-menu ");

            // y le agrego un listener para el click para toglear el hidden del menu
            btn.addEventListener("click", () => {
                menu.classList.toggle("hidden");
            });
    </script>

</body>

</html>